<head>
  <meta name="robots" content="noindex" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <!-- meta情報 -->
  <title><%= page['title'] %></title>
  <meta name="description" content="<%= page['description'] %>" />
  <meta property="og:site_name" content="<%= page['title'] %>" />
  <meta property="og:url" content="<%= page['url'] %>" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= page['title'] %>" />
  <meta property="og:description" content="<%= page['description'] %>" />
  <meta property="og:locale" content="ja_JP" />
  <meta name="twitter:card" content="summary_large_image" />
  
  <!-- （画像関連） -->
  <link rel="icon" href="#" />
  <meta property="og:image" content="<%= baseUrl %>/img/common/ogp.jpg" />

  <!-- フォント情報 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
  

  <!-- css -->
  <link rel="stylesheet" href="<%= baseUrl %>/assets/css/style.css" />

  <!-- Swiper用css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">

  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <!-- Swiper -->
  <script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.4.4/vivus.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/vivus/0.3.2/vivus.js"></script>

  
  <script defer src="<%= baseUrl %>/assets/js/script.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var webStorage = function () {
        if (sessionStorage.getItem('access')) {
            // 2回目以降アクセス時の処理
            
            
        } else {
            // 初回アクセス時の処理
            sessionStorage.setItem('access', 'true');  // sessionStorageにデータを保存
            $(".p-loading-animation").addClass('is-active');  // ローディングアニメーションを表示

            setTimeout(function () {
                $(".p-loading-animation").addClass('svg-container');  //最後の白塗り
            }, 6500);  // ローディング表示の時間（5秒）
            setTimeout(function () {
                $(".p-loading-animation").removeClass('is-active');  // ローディングを非表示にして背景をフェードアウト
            }, 7500);  // ローディング表示の時間（5秒）
        }
    };
    webStorage();
  });
  </script>
</head>
