<!-- prettier-ignore -->
<% const validColor = ['white']; %>
<% const colorClass = validColor.includes(color) ? ` p-about-item--${color}` : ''; %>


<div class="p-about-item<%- colorClass %>">
    <div class="p-about-item__inner">
        <div class="p-about-item__content">
            <div class="p-about-item__text">
                <%- text %>
            </div>
            <div class="p-about-item__btn">
                <%- include(ejsPath + './component/_c-btn1', {
                    link: '#',
                    text: btntext
                }) %>
            </div>
        </div>
        <div class="p-about-item__img">
            <img src="<%- img %>" alt="<%- alt %>" />
        </div>
        <p class="p-about-item__number"><%- number %></p>
    </div>
</div>



