<!-- prettier-ignore -->
<% const validColor = ['inversion']; %>
<% const colorClass = validColor.includes(color) ? ` p-about-item--${color}` : ''; %>


<div class="p-about-item <%- colorClass %> p-about-item--<%- number %>">
    <!-- <div class="p-about-item__inner"> -->
        <p class="p-about-item__text">
            <%- text %><br class="u-mobile"><%- text2 %>
        </p>
        <div class="p-about-item__btn">
            <%- include(ejsPath + './component/_c-btn1', {
                link: link,
                text: btntext
            }) %>
        </div>
        <div class="p-about-item__img">
            <img src="<%- img %>" alt="<%- alt %>" />
        </div>
        <p class="p-about-item__service">Service</p>
    <!-- </div> -->
</div>



