<% project='.' ; ejsPath='.' 

let lists = [
    {subtitie: '全長' , text: '4.79 ～ 14 m'},
    {subtitie: '最大搭載重量' , text: '70 kg（下付け）'},
    {subtitie: '本体重量' , text: '1316 kg（ウェイト別）'},
    {subtitie: '最大レンズ高' , text: '12.19 m'},
    {subtitie: 'Max. Speed' , text: '2.6 m/s'}
]

%>

<% const validColor = ['white']; %>
<% const colorClass = validColor.includes(color) ? ` p-crane-item--${color}` : ''; %>


<div class="p-crane-item<%- colorClass %>">
    <div class="p-crane-item__img">
        <img src="<%- img %>" alt="<%- alt %>" />
    </div>
    <div class="p-crane-item__content">
        <div class="p-crane-item__wrapper">
            <h3 class="p-crane-item__title"><%- title %></h3>
            <!-- prettier-ignore -->
            <%- include(project + ejsPath + '/component/_c-tab' ,{text:tabtext, color:tabcolor}) %>
        </div>
        <dl class="p-crane-item__list-items">
            <% lists.forEach(function(list) { %>
              <div class="p-crane-item__list-item">
                <dt><%- list.subtitie %></dt>
                <dd><%- list.text %></dd>
              </div>
            <% }); %>
        </dl>
        <% if (color !== 'white') { %>
            <div class="p-crane-item__btn">
                <%- include(ejsPath + './component/_c-btn2', { link: btnlink, text: '詳細はこちら' }) %>
            </div>
        <% } %>
    </div>
</div>
