<%
project='.' ; ejsPath='.'

let cards = [
  {
    content: [
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''},
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''},
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''},
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''}
    ]
  },
  {
    content: [
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''},
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''},
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''}
    ]
  },
  {
    content: [
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''},
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''}
    ]
  },
  {
    content: [
        {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: ''}
    ]
  }
]

let items = [
  {
    content: [
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}
    ]
  },
  {
    content: [
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}
    ]
  },
  {
    content: [
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'},
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}
    ]
  },
  {
    content: [
      {img: './assets/images/common/gray.jpg', alt: 'グレーのダミー画像', text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}
    ]
  }
  
]

%>

<div class="p-crane-detail">
    <div class="p-crane-detail__item l-box fadeIn">
        <%- include(project + '/_p-crane-item', {
            img: "./assets/images/common/gray.jpg",
            alt: "グレーのダミー画像",
            title: 'GF CRANE',
            tabtext: '要オペレーター',
            tabcolor: 'white',
            btnlink: 'crane01.html',
            color: 'white'
        }) %>
    </div>

    <div class="p-crane-detail__heading">
      <h2 class="p-crane-detail__h2 l-box fadeIn">
        GF CRANEが入荷しました。（中見出し）
      </h2>
      <p class="p-crane-detail__h3 l-box fadeIn">
        〇〇TYPE（小見出し）
      </p>
      <p class="p-crane-detail__p l-box fadeIn">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
    </div>
    
    <div class="p-crane-detail__margin-1"></div>

    <% cards.forEach(function(card) { %>
      <div class="p-crane-detail__cards-<%- card.content.length %> l-box fadeIn">
            <% card.content.forEach(function(item) { %>
              <div class="p-crane-detail__card">
                    <%- include(project + '/_p-container-item' , {
                        img: item.img,
                        alt: item.alt,
                        text: item.text
                    }) %>
                </div>
            <% }); %>
          </div>
    <% }); %>
    
    <div class="p-crane-detail__margin-2"></div>
      
    <% items.forEach(function(item) { %>
      <div class="p-crane-detail__container-<%- item.content.length %> l-box fadeIn">
          <% item.content.forEach(function(item) { %>
            <div class="p-crane-detail__card">
                  <%- include(project + '/_p-container-item' , {
                      img: item.img,
                      alt: item.alt,
                      text: item.text
                  }) %>
              </div>
          <% }); %>
        </div>
    <% }); %>
    
    <div class="p-crane-detail__content l-box fadeIn">
      <div class="p-crane-detail__img">
        <img src="" alt="">
      </div>
      <p class="p-crane-detail__text">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テ
      </p>
    </div>
    
</div>