<a href=""<%- url %>" class="p-newequipment-card">
  <div class="p-newequipment-card__img">
    <img src="<%- img %>" alt="<%- alt %>">
  </div>
  <div class="p-newequipment-card__wrapper">
    <!-- タイトル -->
    <time class="p-newequipment-card__date" datetime="<%- datetime %>"><%- date %></time>
    <!-- カテゴリー -->
    <p class="p-newequipment-card__category"><%- tab %></p>
  </div>
  <!-- サブタイトル -->
  <p class="p-newequipment-card__text">
    <%- text %>
  </p>
</a>