
<%
project='.' ; ejsPath='.'

let cards = [
  {
    title: 'Special equipment',
    tab: '特殊機材',
    bgcolor: '',
    content: [
      {link: 'crane.html', img: './assets/images/common/special_equipment1.jpg', alt: 'クレーン', text: 'クレーン'},
      {link: 'crane.html', img: './assets/images/common/special_equipment2.jpg', alt: 'リモートヘッド', text: 'リモートヘッド'},
      {link: 'crane.html', img: './assets/images/common/special_equipment3.jpg', alt: 'ドリー', text: 'ドリー'},
      {link: 'crane.html', img: './assets/images/common/special_equipment4.jpg', alt: 'ジフ', text: 'ジフ'},
      {link: 'crane.html', img: './assets/images/common/special_equipment5.jpg', alt: 'ジンバル', text: 'ジンバル'},
      {link: 'crane.html', img: './assets/images/common/special_equipment6.jpg', alt: '電気自動車', text: '電気自動車'},
      {link: 'crane.html', img: './assets/images/common/special_equipment7.jpg', alt: 'カーマウント', text: 'カーマウント'}
    ]
  },
  {
    title: 'Special effects',
    tab: '特殊効果',
    bgcolor: 'white',
    content: [
      {link: 'crane.html', img: './assets/images/common/special_effects1.jpg', alt: '雨', text: '雨'},
      {link: 'crane.html', img: './assets/images/common/special_effects2.jpg', alt: '風', text: '風'},
      {link: 'crane.html', img: './assets/images/common/special_effects3.jpg', alt: '雪', text: '雪'},
      {link: 'crane.html', img: './assets/images/common/special_effects4.jpg', alt: '煙', text: '煙'}
    ]
  },
  {
    title: 'Special equipment',
    tab: '特殊機材',
    bgcolor: '',
    content: [
      {link: 'crane.html', img: './assets/images/common/rental_equipment1.jpg', alt: 'イントレ', text: 'イントレ'},
      {link: 'crane.html', img: './assets/images/common/rental_equipment2.jpg', alt: '移動車', text: '移動者'},
      {link: 'crane.html', img: './assets/images/common/rental_equipment3.jpg', alt: 'レール', text: 'レール'},
      {link: 'crane.html', img: './assets/images/common/rental_equipment4.jpg', alt: '円形レール', text: '円形レール'},
      {link: 'crane.html', img: './assets/images/common/rental_equipment5.jpg', alt: 'ミニジフ', text: 'ミニジフ'},
      {link: 'crane.html', img: './assets/images/common/rental_equipment6.jpg', alt: '防振', text: '防振'},
      {link: 'crane.html', img: './assets/images/common/rental_equipment7.jpg', alt: 'スライダー', text: 'スライダー'},
      {link: 'crane.html', img: './assets/images/common/rental_equipment8.jpg', alt: 'グリップキット', text: 'グリップキット'},
      {link: 'crane.html', img: './assets/images/common/rental_equipment9.jpg', alt: 'その他', text: 'その他'},
    ]
  }
]
%>

<% cards.forEach(function(card) { %>
  <div class="l-sub-equipment p-sub-equipment p-sub-equipment--<%- card.bgcolor %>">
    <div class="p-sub-equipment__inner l-inner">
        <h2 class="p-sub-equipment__heading"><%- card.title %></h2>
        <div class="p-sub-equipment__category">
            <div class="p-sub-equipment__tab"><%- card.tab %></div>
            <span></span>
        </div>
        <div class="p-sub-equipment__items">
            <% card.content.forEach(function(item) { %>
                <a href="<%- item.link %>" class="p-sub-equipment__item">
                  <div class="p-sub-equipment__img">
                    <img src="<%- item.img %>" alt="<%- item.alt %>">
                  </div>
                  <div class="p-sub-equipment__wrapper">
                    <p class="p-sub-equipment__text"><%- item.text %></p>
                    <span class="p-sub-equipment__iconbg">
                      <i class="p-sub-equipment__icon"></i>
                    </span>
                  </div>
                </a>
            <% }); %>
        </div>
    </div>
  </div>
<% }); %>

