<a href="<%- link %>" class="p-topics-card l-box fadeIn">
    <img src="<%- img %>" alt="<%- alt %>">
    <div class="p-topics-card__role">
        <p class="p-topics-card__category">TOPICS</p>
        <time class="p-topics-card__date" datetime="<%- date %>"><%- date %></time>   
    </div>
    <h3 class="p-topics-card__title"><%- title %></h3>
</a>