<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
  json[pageData] }) %>
  <style>
    body {
      background-color: #262626;
    }
  </style>
  <body>
    <%- include(ejsPath + '/common/_header' , { btncolor:'yellow' }); %>

    <main>
      <div class="l-breadcrumb l-breadcrumb--crane01">
        <%- include(ejsPath + '/component/_c-breadcrumb', { color:'', breadcrumb: [ 
        { title:"equipment", url: "equipment.html" },
        { title:"crane", url: "crane.html" },
        { title:"GF CRANE", url: "" }
        ] }); %>
      </div>

      <div class="l-sub-crane">
        <%- include(ejsPath + '/project/_p-sub-crane' , 
        { type:'small' }); %>
      </div>

    </main>
    <div class="l-crane-footer">
      <%- include(ejsPath + '/common/_footer' ) %>
    </div>
  </body>
</html>
