<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
  json[pageData] }) %>
  <body>
    <%- include(ejsPath + '/common/_header' , { btncolor:'' }); %>
    <main>
      <%- include(ejsPath + '/project/_p-sub-mv', {heading_eng:' EQUIPMENT', heading_ja:'機材一覧'}) %>

      <div class="l-breadcrumb">
        <%- include(ejsPath + '/component/_c-breadcrumb', { color:'', breadcrumb: [ 
        { title:"equipment", url: "" },
        ] }); %>
      </div>

      <div class="l-top-160">
        <%- include(ejsPath + '/project/_p-sub-equipment' ) %>
      </div>

    </main>
    <div class="l-top-160">
      <%- include(ejsPath + '/common/_footer' ) %>
    </div>
  </body>
</html>
