<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
  json[pageData] }) %>
  <body>
    <%- include(ejsPath + '/project/_loading-animation' ) %>
    
    <%- include(ejsPath + '/common/_header' ) %>
    <main>
      <%- include(ejsPath + '/project/_p-top-mv' ) %>

      <div class="l-top-160">
        <%- include(ejsPath + '/project/_p-top-about' ) %>
      </div>

      <div class="l-top-newequipment">
        <%- include(ejsPath + '/project/_p-top-newequipment' ) %>
      </div>

      <div class="l-top-160">
        <%- include(ejsPath + '/project/_p-top-recruit' ) %>
      </div>

    </main>
    <%- include(ejsPath + '/common/_footer' ) %>
  </body>
</html>
