<% baseUrlPath='.' ; ejsPath='.' ; pageData="top" %>
<!DOCTYPE html>
<html lang="ja">
  <%- include(ejsPath + '/common/_head' ,{ baseUrl: baseUrlPath, page:
  json[pageData] }) %>

  <style>
    .ejs-style-title {
      margin-top: 120px;
      margin-bottom: 20px;
      background-color: rgba(0, 213, 255, 0.304);
      color: black;
    }
    .ejs-style-background {
      background-color: rgba(0, 174, 255, 0.304);
    }

    /* .loading {
      width: 100vw;
      height: 100vh;
      transition: all 10s;
      background-color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      opacity: 1;
      visibility: visible;
    }

    .loading.is-active {
      opacity: 0;
      visibility: hidden;
    } */

    #item-detail-thumbnail {
  position: relative;

  .slick-counter {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 20;
    font-size: 13px;
    color: #000;
    line-height: 1.2;
  }

  .slide-item-prev-btn,
  .slide-item-next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 60px;
    line-height: 40px;

    i {
      font-size: 20px;
      color: gray;
    }
  }

  .slide-item-prev-btn {
    left: -10px;
  }

  .slide-item-next-btn {
    right: -10px;
  }
}

#item-detail-thumbnail-list {
  .slick-list {
    overflow-x: scroll;
    white-space: nowrap;

    @media screen and (min-width: 769px) {
      overflow-x: initial;
      white-space: initial;
    }

    .slick-track {
      transform: translate3d(0px, 0px, 0px);
      display: flex;
      width: auto;
      display: inline-block;

      @media screen and (min-width: 769px) {
        width: 100%;
        display: block;
      }
    }

    .slick-current {
      border: 2px solid #b0a773;
      opacity: 0.7;
    }
  }

  .itemsubimg {
    width: 29.5%;
    border-color: transparent;
    border-width: 2px;
    float: none;

    @media screen and (min-width: 769px) {
      float: left;
    }

    &:nth-child(3n) {
      margin-right: 5%;

      @media screen and (min-width: 769px) {
        margin-right: 0;
      }
    }

    img {
      opacity: 1;
    }
  }
}



    .container {
      height: 100px; /* 見える範囲の高さを設定 */
      width: 300px; /* 幅を設定 */
      overflow: hidden; /* テキストが外に出ないように隠す */
    }

    .scrolling-text {
      font-size: 24px;
      animation: scroll 9s linear infinite;
    }

    /* アニメーションの設定 */
    @keyframes scroll {
      0% {
        transform: translateY(100%); /* 画面外からスタート */
      }
      100% {
        transform: translateY(-100%); /* 画面の上に出ていく */
      }
    }

    .recruit-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .text-section {
        padding: 40px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    }

    .text-section h2 {
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
    }

    .text-section h1 {
        font-size: 48px;
        font-weight: bold;
        color: #000;
        margin-bottom: 30px;
    }

    .cta-button {
        display: inline-block;
        background-color: #ffd400;
        color: #000;
        font-size: 18px;
        padding: 15px 30px;
        text-decoration: none;
        border-radius: 50px;
        position: relative;
    }

    .cta-button::after {
        content: '→';
        display: inline-block;
        margin-left: 10px;
        transition: transform 0.3s ease;
    }

    .cta-button:hover::after {
        transform: translateX(5px);
    }

    .image-section {
        width: 50%;
        clip-path: polygon(34% 0, 100% 0, 100% 100%, 0% 100%);
    }

    .image-section img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }




    .main-content {
    display: flex;
    height: 100vh;
    background-color: #ffdb00;
}

.left-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-content img {
    width: 80%;
    height: auto;
}

.right-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.right-content h1 {
    font-size: 10vw;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.right-content .slogan {
    font-size: 2vw;
    margin-bottom: 10px;
}

.right-content .sub-text {
    font-size: 1.5vw;
    margin-bottom: 20px;
}

.right-content .second-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.right-content .news {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .right-content {
        order: 1;
        text-align: center;
    }

    .right-content h1 {
        font-size: 15vw;
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }

    .right-content .slogan, .right-content .sub-text {
        font-size: 4vw;
    }

    .left-content {
        order: 2;
    }

    .left-content img {
        width: 100%;
    }

    .contact button {
        padding: 10px 20px;
    }
  }
  
      
  </style>

  

  <body>

    <%- include(ejsPath + '/common/_header' , { btncolor:'' }); %>
    <main>
      <!-- 下層ページMV -->
      <%- include(ejsPath + '/project/_p-sub-mv', {heading_eng:' EQUIPMENT', heading_ja:'機材一覧'}) %>
      
      <!-- slickスライダー -->
      <h2 class="ejs-style-title">slickスライダー</h2>

      <<div class="item-photo">
        <!-- 大きく表示される画像 -->
        <div class="itemimg" id="item-detail-thumbnail">
            <div class="item-detail-thumbnail-inner">
                <img src="./assets/images/common/crane1.jpg" alt="">
            </div>
            <div class="item-detail-thumbnail-inner">
                <img src="./assets/images/common/crane2.jpg" alt="">
            </div>
            <div class="item-detail-thumbnail-inner">
                <img src="./assets/images/common/crane3.jpg" alt="">
            </div>
        </div>
        <div class="itemsubimgs" id="item-detail-thumbnail-list">
            <!-- サムネイルの一覧画像 -->
            <div class="itemsubimg">
                <img src="./assets/images/common/crane1.jpg" alt="">
            </div>
            <div class="itemsubimg">
                <img src="./assets/images/common/crane2.jpg" alt="">
            </div>
            <div class="itemsubimg">
                <img src="./assets/images/common/crane3.jpg" alt="">
            </div>
        </div>
    </div>
    

      <!-- page topボタン -->
      <h2 class="ejs-style-title">page top</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-totop', { link: '#', text: 'PAGE TOP' }) %>
      
      <div class="container">
        <div class="scrolling-text">
          <p>記事1: これが最初の記事です。</p>
          <p>記事2: これが2番目の記事です。</p>
          <p>記事3: これが3番目の記事です。</p>
        </div>
      </div>


      <ul class="scroll-list">
        <li>Hello World!</li>
        <li>Hello World!</li>
        <li>Hello World!</li>
      </ul>
      
      <!-- ボタン① -->
      <h2 class="ejs-style-title">FV</h2>
      <!-- prettier-ignore -->
      <section class="main-content">
        <div class="left-content">
            <img src="./assets/images/common/top-fv1.jpg" alt="機材">
        </div>
        <div class="right-content">
            <h1>GRIFFITH</h1>
            <p class="slogan">THE EQUIPMENT YOU NEED, WHEN YOU NEED IT.</p>
            <p class="sub-text">必要な機材、必要なときに。</p>
            <div class="second-image">
                <img src="./assets/images/common/top-fv2.jpg" alt="機材の使用例">
            </div>
            <div class="news">
                <span>NEWS | 2024.06.24 年末年始休暇のご連絡</span>
            </div>
        </div>
    </section>

      <!-- ボタン① -->
      <h2 class="ejs-style-title">ボタン①</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-btn1', { link: '#', text: '特殊機材' }) %>

      <!-- ボタン② -->
      <h2 class="ejs-style-title">ボタン②</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-btn2', { link: '#', text: '機材一覧へ' }) %>

      <!-- 発信用ボタン -->
      <h2 class="ejs-style-title">発信用ボタン</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-send-btn', { 
        maillink: 'mailto:g.info1994@gmail.com', 
        phonelink: '042-486-1420',
        img: './assets/images/common/mail-icon.svg',
        alt: 'メールアイコン',
        color: 'yellow'
      }) %>

      <!--タブ -->
      <h2 class="ejs-style-title">タブ</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-tab' ,{text:'単体レンタル可', color:''}) %>

      <!--セクションタイトル -->
      <h2 class="ejs-style-title">セクションタイトル</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-section-heading', { 
        page: "",
        heading_eng:'About', 
        heading_ja:'有限会社グリフィス',
        anima:''
      }) %>

      <!--機材一覧用のパーツ -->
      <h2 class="ejs-style-title">機材一覧用のパーツ</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/project/_p-crane-item', {
        img: "./assets/images/common/crane1.jpg",
        alt: "クレーン",
        title: 'GF-8',
        tabtext: '単体レンタル可',
        tabcolor: '',
        btnlink: '#',
        color: 'white'
      }) %>

      <div class="recruit-section">
        <div class="text-section">
            <h2>採用情報</h2>
            <h1>RECRUIT</h1>
            <a href="#" class="cta-button">募集要項へ</a>
        </div>
        <div class="image-section">
            <img src="./assets/images/common/top-recruit.jpg" alt="Camera setup">
        </div>
    </div>

      <!--パンくずリスト -->
      <h2 class="ejs-style-title">パンくずリスト</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/component/_c-breadcrumb', { color:'', breadcrumb: [ { title:"equipment", url: "" },
      { title:"crane", url: "" } ] }); %>

      <!--お知らせ -->
      <h2 class="ejs-style-title">お知らせ</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/project/_p-news' ) %>

      <!--サイドナビゲーション -->
      <h2 class="ejs-style-title">サイドナビゲーション</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/project/_p-sidebar-nav' , {
        color: ''
       }) %>

       <!--サイドナビゲーション -->
      <h2 class="ejs-style-title">文字列を一文字ずつ配列へ</h2>
      <!-- prettier-ignore -->
      <%- include(ejsPath + '/project/_p-one-animation' , {
        text: 'abcdefg'
       }) %>

       
    </main>
    <%- include(ejsPath + '/common/_footer' ) %>
  </body>
</html>
