<!-- prettier-ignore -->
<% const validPage = ['company']; %>
<% const pageClass = validPage.includes(page) ? ` c-section-heading--${page}` : ''; %>

<% const validend = ['endroll']; %>
<% const endClass = validend.includes(page) ? ` c-section-heading--${page}` : ''; %>


<div class="c-section-heading<%- pageClass %><%- endClass %>">
    <h2 class="c-section-heading__ja"><%- heading_ja %></h2>
    <% if (anima === 'text') { %>
        <div class="c-section-heading__margin">
            <%- include(ejsPath + './project/_p-one-animation' , {
                text: heading_eng
            }) %>
        </div>
    <% } else { %>
        <p class="c-section-heading__eng"><%- heading_eng %></p>
    <% } %>
</div>